body {
    margin:0;
    background: darkgrey;
    font-family: 'Montserrat', cursive;
    font-size: 20px;
    line-height: normal;
    color: black;
}

.text__navigation--underline{
    display: flex;
    font-size: 20px;
}

.text__navigation{
    display: flex;
    font-size: 20px;
    color: white;
    margin-left: 40px;
    margin-right: 40px;
    line-height: 1;
    text-decoration: none;
}

.text__navigation:after{
    left: 0;
    width: 0;
    height: 2px;
    background-color: #626262;
    transition: width 0.3s ease-out;
}

.text__navigation:hover{
    width: 100%;
    color: #626262;
}

.text{
    margin-top: 20px;
    display: flex;
    font-size: 20px;
    color: black;
}

a {
    outline: none;
    text-decoration: none;
}
.text:link {
    color: black;
}
.text:active {
    background: #265301;
    color: #CDFEAA;
}
.text:visited{
    color: black;
}



.header {
    background: darkgrey;
    font-family: 'Montserrat', cursive;
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
}

.header__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}

.header__container__image{
    display: flex;
    flex-wrap: wrap;

}

.header__container__link {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    flex-wrap: wrap;
}

.header__container__link__social {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 70px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 20px;
}

.header__container__link__social__image{
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    border-radius: 10px;
}

.img{
    display: flex;
    border-radius: 10px;
    width: 41px;
    height: 41px;
}

.header__container__image__size{
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 20px;
    width: 100px;
    height: 100px;

}

.header__navigation{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header__navigation:link {
    color: white;
}
.header__navigation:active {
    color: #CDFEAA;
}
.header__navigation:visited{
    color: white;
}

.header__navigation__pages{
    color: white;
    display: flex;
    justify-content: space-between;
    font-size: 40px;
}

.main__image__container__logo{
    object-fit: fill;
    width: 100%;
    height: auto;
}

.main{
    margin-bottom: 0;
}
.footer{
    margin-top: 0;
}

.footer__header{
    margin-top: 0;
}

h6{
    margin:0;
}

@media only screen and (min-width: 500px) {
    .header__container__image__size {
        width: 100px;
        height: 100px;
        border-radius: 20px;
        margin: 20px;
    }
    .img{
        border-radius: 10px;
        width: 41px;
        height: 41px;
    }
    .text {
        font-size: 20px;
    }
    .text__navigation, .text__navigation--underline{
        font-size: 20px;
    }
    .header__container__link__social {
        font-size: 20px;
    }
}

@media only screen and (min-width: 720px) {
    .header__container__image__size {
        width: 150px;
        height: 150px;
        border-radius: 20px;
        margin: 20px;
    }
    .text {
       font-size: 30px;
    }
    .img{
        border-radius: 15px;
        width: 61px;
        height: 61px;
    }
    .text__navigation, .text__navigation--underline {
        font-size: 30px;
    }
    .header__container__link__social {
        font-size: 30px;
    }
}
@media only screen and (min-width: 1024px) {
    .header__container__image__size {
        width: 200px;
        height: 200px;
        border-radius: 20px;
        margin: 20px;
    }
    .img{
        border-radius: 20px;
        width: 81px;
        height: 81px;
    }
    .text {
        font-size: 40px;
    }
    .text__navigation, .text__navigation--underline {
        font-size: 40px;
    }

    .header__container__link__social {
        font-size: 40px;
    }
}

@media only screen and (max-device-width: 480px) {
    .header__container__image__size {
        width: 100px;
        height: 100px;
        border-radius: 20px;
        margin: 20px;
    }
}